html, body {
  padding: 0;
  margin: 0;
  cursor: crosshair;
}

body {
  background-color: #ffffff;
  background-image: radial-gradient(gray 2px, transparent 0);
  background-size: 40px 40px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.front {
  z-index: 100;
}

.front-on-click {
  position: absolute;
  background: white;
  cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.container {
  padding: 2px 16px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.studio {
  background-color: #ffff00;
  font-family: 'Inter', sans-serif;
}

.visit {
  background-color: #c0c0c0;
  font-family: 'Merriweather', serif;
  font-size: 64px;
  font-style: italic;
}

.address {
  font-size: 16px;
  font-style: normal;
  text-align: right;
}

.quote {
  font-size: 32px;
  font-family: 'Inter', sans-serif;
}

.gallery {
  border-top: 16px solid white;
  border-bottom: 16px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.description {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-style: italic;
  max-width: 600px;
}

.note {
  font-family: 'Syne Tactile', cursive;
  font-size: 24px;
  font-style: italic;
  max-width: 300px;
}

img {
  max-width: 600px;
}

a {
  text-decoration: none;
  color: black;
}
